{
    "env": {
      "browser": true,
      "es2021": true
    //  "jest/globals": true
    },
    "extends": [
      "airbnb-base",
      "airbnb-typescript/base",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "ignorePatterns": [
      "node_modules/",
      "build/",
      "public/",
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 12,
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "plugins": ["import", "@typescript-eslint"],
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"],
          "extensions": [".js", ".json", ".ts"]
        }
      }
    },
    "rules": {
      "no-restricted-properties": "off",
      "no-restricted-syntax": "off",
      "no-prototype-builtins": "off",
      "no-continue": "off",
      "max-len": ["error", { "code": 150 }],
      "import/prefer-default-export": "off",
      "no-underscore-dangle": "off",
      "import/no-extraneous-dependencies": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/naming-convention": [
        "error",
        {
          "selector": "variableLike",
          "format": ["camelCase", "PascalCase", "UPPER_CASE"],
          "leadingUnderscore": "allow",
          "trailingUnderscore": "forbid",
          "custom": {
            "regex": "^_id$",
            "match": false
          }
        }
      ]
    }
}
  